In [6]:
n = 4

for i in range(4):
    for j in range(0, i+1):
        print('ineuron' , end = " ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [87]:
n = 3
for i in range(n):
    for j in range (i, n-1):
            print (" " * len("ineuron") , end=" ")
    for j in range(i+1):
        print ("ineuron" , end=" ")
    for j in range(i):
        print ("ineuron", end=" ")
    print("\n")
rows = n-1
k = rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(" " * len("ineuron") , end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("ineuron", end=" ")
    for j in range(i):
        print ("ineuron", end=" ")
    print("\n")

                ineuron

        ineuron ineuron ineuron

ineuron ineuron ineuron ineuron ineuron

ineuron ineuron ineuron ineuron ineuron

        ineuron ineuron ineuron

                ineuron

In [88]:
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),
     {'k1':"bharadwaz" ,'k2' : "ineuron" ,'k3' : "lepakshi" , 3:6, 7:8} ,["ineuron","data science"]]

In [93]:
#Try to find all the list entity
l_List =[]
for i in l:
    if(type(i) == list):
        l_List.append(i)
print(l_List)

[[1, 2, 3, 4], ['ineuron', 'data science']]

In [94]:
### Try to find all the dict entities
l_dict ={}
for i in l:
    if(type(i) == dict):
        l_dict.update(i)
print(l_dict)

{'k1': 'bharadwaz', 'k2': 'ineuron', 'k3': 'lepakshi', 3: 6, 7: 8}

In [96]:
### Try to find all the tuple entities
l_tuple =[]
for i in l:
    if(type(i) == tuple):
        l_tuple.append(i)
print(l_tuple)

[(2, 3, 4, 5, 6), (3, 4, 5, 6, 7)]

In [117]:
## Try to extract all the numeric data it may be a part of dict key and values 
l_number=[]

for i in l:
    if (type(i) == list or type(i) == tuple or type(i) == set):  
        for j in i:
                if (type(j) == int):
                    l_number.append(j)
    elif(type(i) == dict):
        for k in i:
            if (type(k) == int):
                l_number.append(k)
            if(type(i[k]) == int):
                l_number.append(i[k])
print(l_number)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [119]:
#Try to give summation of all the numeric data
l_Sum =0
for i in l_number:
    l_Sum= l_Sum + i
print(l_Sum)

156

In [125]:
#Try to extract all the odd values part of list
l_Odd =[]
for i in l_List:
    for j in i:
        if(type(j) == int and j%2!=0):
            l_Odd.append(j)
print(l_Odd)

[1, 3]

In [130]:
#Try to extract 'ineuron' out of this data
l_inueron=[]

for i in l:
    if (type(i) == list or type(i) == tuple or type(i) == set):  
        for j in i:
                if (j == 'ineuron'):
                    l_inueron.append(j)
    else:
        for k in i:
            if(i[k] == 'ineuron'):
                l_inueron.append(i[k])
print(l_inueron)

['ineuron', 'ineuron']

In [153]:
# Try to find a number of occurnace of all the data 
l_EntireData=[]
for i in l:
    if(type(i)== dict):
        for j in i:
            l_EntireData.append(j)
            l_EntireData.append(i[j])
    else:
        for j in i:
            l_EntireData.append(j)

for i in set(l_EntireData):
    print(' Number of occurance of '+ str(i)  +' is ' + str(l_EntireData.count(i)))
    print('\n')

 Number of occurance of 1 is 1


 Number of occurance of 2 is 2


 Number of occurance of 3 is 4


 Number of occurance of 4 is 4


 Number of occurance of 5 is 3


 Number of occurance of 6 is 3


 Number of occurance of 7 is 2


 Number of occurance of k1 is 1


 Number of occurance of ineuron is 2


 Number of occurance of 8 is 1


 Number of occurance of 45 is 1


 Number of occurance of k2 is 1


 Number of occurance of lepakshi is 1


 Number of occurance of 23 is 1


 Number of occurance of bharadwaz is 1


 Number of occurance of k3 is 1


 Number of occurance of data science is 1

In [161]:
#Try to find the number of keys in dictionary element
count = 0
for i in l_dict.keys():
    count = count + 1
print("Number of keys in dictionary element is : " + str(count))

Number of keys in dictionary element is : 5

In [166]:
#Try to filter of out all the string data
l_str =[]
for i in l_EntireData:
    if type(i) == str:
        l_str.append(i)
print(l_str)

['k1', 'bharadwaz', 'k2', 'ineuron', 'k3', 'lepakshi', 'ineuron', 'data science']

In [181]:
#try to get all the alphanumeric 
l_alphaNum =[]
for i in l_str:
    if i.isalnum() == True:
        l_alphaNum.append(i)
print(l_alphaNum)

['k1', 'bharadwaz', 'k2', 'ineuron', 'k3', 'lepakshi', 'ineuron']

In [183]:
#try to find out all the multiplication of numeric numbers
l_Multiply=1
for i in l_number:
    l_Multiply = l_Multiply * i
    
print(l_Multiply)

908605071360000

In [184]:
#Try to unwrap all the collections and create a list 

l_EntireValue=[]
for i in l:
    if(type(i)== dict):
        for j in i:
            l_EntireValue.append(i[j])
    else:
        for j in i:
            l_EntireValue.append(j)
            
print(l_EntireValue)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'bharadwaz', 'ineuron', 'lepakshi', 6, 8, 'ineuron', 'data science']